/* Logo */
body{
    background-image: url("img/181.jpg");
    background-size:cover; 
    background-repeat: no-repeat;
}
.nav-container{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 500;
    
}
.logo {
    width: auto;
    height: 100px;
}
/* Fim da Logo */

/* Nav bar */
.bodyc {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    margin: 0;
    padding: 0;
  }
  
  nav {
    margin: 300px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 60px;
  }
  
/* Fim da Nav bar */

  /* Carrosel */
  .foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  /* Fim do Carrosel */
  
  /* Diferenciais */
  h2 {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Fim dos Diferenciais */
  
  /* Cards */
  .card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    border-radius: 8px;
  }
  
  .card-info {
    margin-top: 12px;
  }
  
  .card-info h2 {
    font-size: 1.2em;
    margin-bottom: 8px;
  }
  
  .card-info p {
    font-size: 1em;
    color: #666;
  }
  
  .card-info a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*Fim dos Cards */

  /*Formulário */
  .container {
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .form-group textarea {
    height: 100px;
  }
  .form-group input[type="submit"] {
    padding: 10px 20px;
    background-color:blue;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .form-group input[type="submit"]:hover {
    background-color: blue;
  }
  /*Fim do Formulário */
  
  /*Rodapé */
  .footer {
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
  }
  /*Fim do Rodapé */